In [2]:
import pandas as pd
import os
import numpy as np
import statistics

In [2]:
# 데이터 폴더 경로
folder_path = r"C:\Users\user\Desktop\2024-2\기계학습\mon_50"

In [3]:
X1 = [] # Array to store instances (timestamps) - 19,000 instances, e.g., [[0.0, 0.5, 3.4, ...], [0.0, 4.5, ...], [0.0, 1.5, ...], ... [... ,45.8]]
X2 = [] # Array to store instances (direction*size) - size information
y = [] # Array to store the site of each instance - 19,000 instances, e.g., [0, 0, 0, 0, 0, 0, ..., 94, 94, 94, 94, 94]



for file_name in os.listdir(folder_path):
    if 'split' in file_name:  # split 파일만 선택
        class_label = int(file_name.split('-')[0])  # 클래스 번호 추출
        file_path = os.path.join(folder_path, file_name)
        if os.path.getsize(file_path) > 0:  # 빈 파일 확인
            df = pd.read_csv(file_path, sep='\t', header=None)
            X1.append(df[0])  # 타임스탬프
            X2.append(df[2])  # 방향*크기
            y.append(class_label)  # 클래스 라벨
size = len(y)

print(f"총 데이터 포인트: {len(X1)}")
print(len(X1))
print(len(X2))
print(len(y))


print(X2[0:1000])

총 데이터 포인트: 45583
45583
45583
45583
[0    -512.0
1    -512.0
2    -512.0
3    -512.0
4    -512.0
5    -512.0
6    -512.0
7    -512.0
8    -512.0
9    -512.0
10   -512.0
11   -512.0
12   -512.0
13   -512.0
14   -512.0
15   -512.0
16   -512.0
17   -512.0
18   -512.0
19   -512.0
20   -512.0
21   -512.0
22   -512.0
23   -512.0
24   -512.0
25   -512.0
26   -512.0
27   -512.0
28   -512.0
29   -512.0
30   -512.0
31   -512.0
32   -512.0
33   -512.0
34   -512.0
35   -512.0
36    512.0
37    512.0
38    512.0
39    512.0
40    512.0
41    512.0
42    512.0
43    512.0
44    512.0
45    512.0
46    512.0
47    512.0
48    512.0
49    512.0
50    512.0
Name: 2, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
303   -512.0
304   -512.0
305   -512.0
306   -512.0
307   -512.0
Name: 2, Length: 308, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
207   -512.0
208   -512.0
209   -512.0
210   -512.0
211   -512.0
Name: 2, Length: 212, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
512   -512.0
513   -512.0
514    512.0
515   -512.0
516   -512.0
Name: 2, Length: 517, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
328   -512.0
329   -512.0
330   -512.0
331   -512.0
332   -512.0
Name: 2, Length: 333, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2756   -512.0
2757   -512.0
2758   -512.0
2759   -512.0
2760   -512.0
Name: 2, Length: 2761, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
642    512.0
643    512.0
644    512.0
645    512.0
646    512.0
Name: 2, Length: 647, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2125   -512.0
2126   -512.0
2127   -512.0
2128   -512.0
2129   -512.0
Name: 2, Length: 2130, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
4039   -512.0
4040   -512.0
4041   -512.0
4042   -512.0
4043   -512.0
Name: 2, Length: 4044, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
313   -512.0
314   -512.0
315   -512.0
316   -512.0
317   -512.0
Name: 2, Length: 318, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
901   -512.0
902   -512.0
903   -512.0
904   -512.0
905   -512.0
Name: 2, Length: 906, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2556   -512.0
2557   -512.0
2558   -512.0
2559   -512.0
2560   -512.0
Name: 2, Length: 2561, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1753   -512.0
1754   -512.0
1755   -512.0
1756   -512.0
1757   -512.0
Name: 2, Length: 1758, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2028   -512.0
2029   -512.0
2030   -512.0
2031   -512.0
2032   -512.0
Name: 2, Length: 2033, dtype: float64, 0      -512.0
1      -512.0
2       512.0
3      -512.0
4       512.0
        ...
2547    512.0
2548    512.0
2549    512.0
2550    512.0
2551    512.0
Name: 2, Length: 2552, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
135   -512.0
136   -512.0
137   -512.0
138   -512.0
139   -512.0
Name: 2, Length: 140, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
3287   -512.0
3288   -512.0
3289   -512.0
3290   -512.0
3291   -512.0
Name: 2, Length: 3292, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
358   -512.0
359   -512.0
360   -512.0
361   -512.0
362   -512.0
Name: 2, Length: 363, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
5776   -512.0
5777   -512.0
5778   -512.0
5779   -512.0
5780   -512.0
Name: 2, Length: 5781, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
259    512.0
260    512.0
261    512.0
262    512.0
263    512.0
Name: 2, Length: 264, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
1910   -512.0
1911   -512.0
1912   -512.0
1913   -512.0
1914   -512.0
Name: 2, Length: 1915, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2528   -512.0
2529   -512.0
2530   -512.0
2531   -512.0
2532    512.0
Name: 2, Length: 2533, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1253   -512.0
1254   -512.0
1255   -512.0
1256   -512.0
1257   -512.0
Name: 2, Length: 1258, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2889   -512.0
2890   -512.0
2891   -512.0
2892   -512.0
2893   -512.0
Name: 2, Length: 2894, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1193   -512.0
1194   -512.0
1195   -512.0
1196   -512.0
1197   -512.0
Name: 2, Length: 1198, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
4026   -512.0
4027   -512.0
4028   -512.0
4029   -512.0
4030   -512.0
Name: 2, Length: 4031, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1212   -512.0
1213   -512.0
1214   -512.0
1215   -512.0
1216   -512.0
Name: 2, Length: 1217, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
781   -512.0
782   -512.0
783   -512.0
784   -512.0
785   -512.0
Name: 2, Length: 786, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2238    512.0
2239    512.0
2240    512.0
2241    512.0
2242    512.0
Name: 2, Length: 2243, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1493   -512.0
1494   -512.0
1495   -512.0
1496   -512.0
1497   -512.0
Name: 2, Length: 1498, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1355   -512.0
1356   -512.0
1357   -512.0
1358   -512.0
1359   -512.0
Name: 2, Length: 1360, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1423   -512.0
1424   -512.0
1425   -512.0
1426   -512.0
1427   -512.0
Name: 2, Length: 1428, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2612    512.0
2613    512.0
2614    512.0
2615    512.0
2616    512.0
Name: 2, Length: 2617, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
3200   -512.0
3201   -512.0
3202   -512.0
3203   -512.0
3204   -512.0
Name: 2, Length: 3205, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1198   -512.0
1199   -512.0
1200   -512.0
1201   -512.0
1202   -512.0
Name: 2, Length: 1203, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
207   -512.0
208   -512.0
209   -512.0
210   -512.0
211   -512.0
Name: 2, Length: 212, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
3130   -512.0
3131   -512.0
3132   -512.0
3133   -512.0
3134   -512.0
Name: 2, Length: 3135, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
740   -512.0
741   -512.0
742   -512.0
743   -512.0
744   -512.0
Name: 2, Length: 745, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
290    512.0
291    512.0
292    512.0
293    512.0
294    512.0
Name: 2, Length: 295, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
241    512.0
242    512.0
243    512.0
244    512.0
245    512.0
Name: 2, Length: 246, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
584   -512.0
585   -512.0
586   -512.0
587   -512.0
588   -512.0
Name: 2, Length: 589, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
228   -512.0
229   -512.0
230   -512.0
231   -512.0
232   -512.0
Name: 2, Length: 233, dtype: float64, 0      -512.0
1      -512.0
2       512.0
3      -512.0
4       512.0
        ...
3532    512.0
3533    512.0
3534    512.0
3535    512.0
3536    512.0
Name: 2, Length: 3537, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
4875   -512.0
4876   -512.0
4877   -512.0
4878   -512.0
4879   -512.0
Name: 2, Length: 4880, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
2506   -512.0
2507   -512.0
2508   -512.0
2509   -512.0
2510   -512.0
Name: 2, Length: 2511, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2362   -512.0
2363   -512.0
2364   -512.0
2365   -512.0
2366   -512.0
Name: 2, Length: 2367, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
1852   -512.0
1853   -512.0
1854   -512.0
1855   -512.0
1856   -512.0
Name: 2, Length: 1857, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2409    512.0
2410    512.0
2411    512.0
2412    512.0
2413    512.0
Name: 2, Length: 2414, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
601   -512.0
602   -512.0
603   -512.0
604   -512.0
605   -512.0
Name: 2, Length: 606, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
3946   -512.0
3947   -512.0
3948   -512.0
3949   -512.0
3950   -512.0
Name: 2, Length: 3951, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
3044   -512.0
3045   -512.0
3046   -512.0
3047   -512.0
3048   -512.0
Name: 2, Length: 3049, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1222   -512.0
1223   -512.0
1224   -512.0
1225   -512.0
1226   -512.0
Name: 2, Length: 1227, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
335    512.0
336    512.0
337    512.0
338    512.0
339    512.0
Name: 2, Length: 340, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
1332   -512.0
1333   -512.0
1334   -512.0
1335   -512.0
1336   -512.0
Name: 2, Length: 1337, dtype: float64, 0     512.0
1     512.0
2     512.0
3     512.0
4     512.0
      ...
68    512.0
69    512.0
70    512.0
71    512.0
72    512.0
Name: 2, Length: 73, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
564   -512.0
565    512.0
566    512.0
567    512.0
568    512.0
Name: 2, Length: 569, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
422   -512.0
423   -512.0
424   -512.0
425   -512.0
426   -512.0
Name: 2, Length: 427, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
240   -512.0
241   -512.0
242   -512.0
243   -512.0
244   -512.0
Name: 2, Length: 245, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
104   -512.0
105   -512.0
106   -512.0
107   -512.0
108   -512.0
Name: 2, Length: 109, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
3632   -512.0
3633   -512.0
3634   -512.0
3635   -512.0
3636   -512.0
Name: 2, Length: 3637, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
4517    512.0
4518    512.0
4519    512.0
4520    512.0
4521    512.0
Name: 2, Length: 4522, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
965   -512.0
966   -512.0
967   -512.0
968   -512.0
969   -512.0
Name: 2, Length: 970, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
339   -512.0
340   -512.0
341   -512.0
342   -512.0
343   -512.0
Name: 2, Length: 344, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
291    512.0
292    512.0
293    512.0
294    512.0
295    512.0
Name: 2, Length: 296, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
5268   -512.0
5269   -512.0
5270   -512.0
5271   -512.0
5272   -512.0
Name: 2, Length: 5273, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
2944   -512.0
2945   -512.0
2946   -512.0
2947   -512.0
2948   -512.0
Name: 2, Length: 2949, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
917   -512.0
918   -512.0
919   -512.0
920   -512.0
921   -512.0
Name: 2, Length: 922, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
328    512.0
329    512.0
330    512.0
331    512.0
332    512.0
Name: 2, Length: 333, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
382   -512.0
383   -512.0
384   -512.0
385   -512.0
386   -512.0
Name: 2, Length: 387, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
250   -512.0
251   -512.0
252   -512.0
253   -512.0
254   -512.0
Name: 2, Length: 255, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
361   -512.0
362   -512.0
363   -512.0
364   -512.0
365   -512.0
Name: 2, Length: 366, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
509   -512.0
510   -512.0
511   -512.0
512   -512.0
513   -512.0
Name: 2, Length: 514, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
883   -512.0
884   -512.0
885   -512.0
886   -512.0
887   -512.0
Name: 2, Length: 888, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
593    512.0
594    512.0
595    512.0
596    512.0
597    512.0
Name: 2, Length: 598, dtype: float64, 0       512.0
1       512.0
2       512.0
3      -512.0
4      -512.0
        ...
2772    512.0
2773    512.0
2774    512.0
2775    512.0
2776    512.0
Name: 2, Length: 2777, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
5336   -512.0
5337   -512.0
5338   -512.0
5339   -512.0
5340   -512.0
Name: 2, Length: 5341, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
288   -512.0
289   -512.0
290   -512.0
291   -512.0
292   -512.0
Name: 2, Length: 293, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
157   -512.0
158   -512.0
159   -512.0
160   -512.0
161   -512.0
Name: 2, Length: 162, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1207   -512.0
1208   -512.0
1209   -512.0
1210   -512.0
1211   -512.0
Name: 2, Length: 1212, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
4220   -512.0
4221   -512.0
4222   -512.0
4223   -512.0
4224   -512.0
Name: 2, Length: 4225, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
861   -512.0
862   -512.0
863   -512.0
864   -512.0
865   -512.0
Name: 2, Length: 866, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
230   -512.0
231   -512.0
232   -512.0
233   -512.0
234   -512.0
Name: 2, Length: 235, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
163    512.0
164    512.0
165    512.0
166    512.0
167    512.0
Name: 2, Length: 168, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
4272   -512.0
4273   -512.0
4274   -512.0
4275   -512.0
4276   -512.0
Name: 2, Length: 4277, dtype: float64, 0    -512.0
1    -512.0
2    -512.0
3    -512.0
4    -512.0
5    -512.0
6    -512.0
7    -512.0
8    -512.0
9    -512.0
10   -512.0
11   -512.0
12   -512.0
13   -512.0
14   -512.0
15   -512.0
16   -512.0
17   -512.0
18   -512.0
19   -512.0
20   -512.0
21   -512.0
22   -512.0
23   -512.0
24   -512.0
25   -512.0
26   -512.0
27   -512.0
28   -512.0
29   -512.0
30   -512.0
31   -512.0
32   -512.0
33   -512.0
34   -512.0
35   -512.0
36   -512.0
37   -512.0
38   -512.0
39   -512.0
40   -512.0
41   -512.0
42   -512.0
43   -512.0
44   -512.0
45   -512.0
46   -512.0
47   -512.0
48   -512.0
49   -512.0
50   -512.0
51   -512.0
52   -512.0
53   -512.0
Name: 2, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1192   -512.0
1193   -512.0
1194   -512.0
1195   -512.0
1196   -512.0
Name: 2, Length: 1197, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
484   -512.0
485   -512.0
486   -512.0
487   -512.0
488   -512.0
Name: 2, Length: 489, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
3477    512.0
3478    512.0
3479    512.0
3480    512.0
3481    512.0
Name: 2, Length: 3482, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
4582   -512.0
4583   -512.0
4584   -512.0
4585   -512.0
4586   -512.0
Name: 2, Length: 4587, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
102   -512.0
103   -512.0
104   -512.0
105   -512.0
106   -512.0
Name: 2, Length: 107, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
3967   -512.0
3968   -512.0
3969   -512.0
3970   -512.0
3971    512.0
Name: 2, Length: 3972, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
3101   -512.0
3102   -512.0
3103   -512.0
3104   -512.0
3105   -512.0
Name: 2, Length: 3106, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
393   -512.0
394   -512.0
395   -512.0
396   -512.0
397   -512.0
Name: 2, Length: 398, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2189   -512.0
2190   -512.0
2191   -512.0
2192   -512.0
2193   -512.0
Name: 2, Length: 2194, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1968   -512.0
1969   -512.0
1970   -512.0
1971   -512.0
1972   -512.0
Name: 2, Length: 1973, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
1213   -512.0
1214   -512.0
1215   -512.0
1216   -512.0
1217   -512.0
Name: 2, Length: 1218, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
3780   -512.0
3781   -512.0
3782    512.0
3783   -512.0
3784   -512.0
Name: 2, Length: 3785, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
201   -512.0
202   -512.0
203   -512.0
204   -512.0
205   -512.0
Name: 2, Length: 206, dtype: float64, 0      -512.0
1      -512.0
2      -512.0
3      -512.0
4      -512.0
        ...
2580   -512.0
2581   -512.0
2582   -512.0
2583   -512.0
2584   -512.0
Name: 2, Length: 2585, dtype: float64, 0      512.0
1      512.0
2      512.0
3      512.0
4      512.0
       ...
249   -512.0
250   -512.0
251   -512.0
252   -512.0
253   -512.0
Name: 2, Length: 254, dtype: float64, 0       512.0
1       512.0
2       512.0
3       512.0
4       512.0
        ...
5285   -512.0
5286   -512.0
5287   -512.0
5288   -512.0
5289   -512.0
Name: 2, Length: 5290, dtype: float64, 0     -512.0
1     -512.0
2     -512.0
3     -512.0
4     -512.0
       ...
981   -512.0
982   -512.0
983   -512.0
984   -512.0
985   -512.0
Name: 2, Length: 986, dtype: float64, 0      -512.0
1      -512.0
2       512.0
3      -512.0
4       512.0
        ...
3040    512.0
3041    512.0

In [4]:
num_total_packets = [] # feature 1
sum_packets = [] # feature 2
num_incoming_packets = [] # feature 3
frac_incoming_packets = [] # feature 4
num_outgoing_packets=[] # feature 5
frac_outgoing_packets=[] # feature 6

for size_seq in X2:
    # 1. Total number of pacekts
    total = len(size_seq)
    num_total_packets.append(total)

    # 2. Sum of packets (absolute value gives the size regardless of direction)
    sum_pckts = sum(abs(size) for size in size_seq)
    sum_packets.append(sum_pckts)

    # 3. Number of incoming packets
    incoming = sum(1 for size in size_seq if size < 0)
    num_incoming_packets.append(incoming)

    # 4. Number of incoming packets as a fraction of the total number of packets
    frac_incoming = incoming / total if total > 0 else 0
    frac_incoming_packets.append(frac_incoming)

    # 5. Number of outgoing packets
    outgoing = sum(1 for size in size_seq if size > 0)
    num_outgoing_packets.append(outgoing)

    # 6. Number of outgoing packets as a fraction of the total number of packets
    frac_outgoing = outgoing / total if total > 0 else 0
    frac_outgoing_packets.append(frac_outgoing)

data = {
    'feature 1': num_total_packets,
    'feature 2': sum_packets,
    'feature 3': num_incoming_packets,
    'feature 4': frac_incoming_packets,
    'feature 5': num_outgoing_packets,
    'feature 6': frac_outgoing_packets
}

df = pd.DataFrame(data)
print(df.head())

#%%
print(len(num_total_packets))
print(len(sum_packets))
print(len(num_incoming_packets))
print(len(frac_incoming_packets))
print(len(num_outgoing_packets))
print(len(frac_outgoing_packets))

   feature 1  feature 2  feature 3  feature 4  feature 5  feature 6
0         51    26112.0         36   0.705882         15   0.294118
1        308   157696.0        308   1.000000          0   0.000000
2        212   108544.0        212   1.000000          0   0.000000
3        517   264704.0        411   0.794971        106   0.205029
4        333   170496.0        333   1.000000          0   0.000000
45583
45583
45583
45583
45583
45583

In [5]:
packet_size_ratios = [] # feature 7
burst_lengths = []  # feature 8

for size_seq in X2:

    # 7. Packet Size Ratios
    outgoing_size_sum = sum(size for size in size_seq if size > 0)
    incoming_size_sum = abs(sum(size for size in size_seq if size < 0))  # 절대값 사용
    packet_size_ratio = outgoing_size_sum / incoming_size_sum if incoming_size_sum > 0 else 0
    packet_size_ratios.append(packet_size_ratio)

    # 8. Burst Lengths
    bursts = []
    current_burst = 0
    size_seq = size_seq.values if isinstance(size_seq, pd.Series) else size_seq  # Pandas Series 처리
    last_direction = np.sign(size_seq[0]) if len(size_seq) > 0 else 0  # 초기 방향 설정

    for size in size_seq:
        direction = np.sign(size)
        if direction == last_direction:
            current_burst += size
        else:
            bursts.append(current_burst)
            current_burst = size          # 새 버스트 시작
            last_direction = direction

    if current_burst != 0:
        bursts.append(current_burst)  # 마지막 버스트 추가

    burst_lengths.append(len(bursts))      # 버스트 길이 저장

#%%
# 리스트 길이 확인
print(f"Length of packet_size_ratios: {len(packet_size_ratios)}")
print(f"Length of burst_lengths: {len(burst_lengths)}")

# 데이터프레임 생성
if len(packet_size_ratios) == len(burst_lengths):
    data = {
        'feature 7': packet_size_ratios,
        'feature 8': burst_lengths,
    }
    df = pd.DataFrame(data)
    print(df.head())
else:
    print("Error: Mismatched lengths between features.")

Length of packet_size_ratios: 45583
Length of burst_lengths: 45583
   feature 7  feature 8
0   0.416667          2
1   0.000000          1
2   0.000000          1
3   0.257908         82
4   0.000000          1

In [6]:
average_incoming_ordering=[] # feature 9
std_dev_incoming_ordering=[] # feature 10
average_outgoing_ordering=[] # feature 11
std_dev_outgoing_ordering=[] # feature 12

for size_seq in X2:
    # 9. Average of the incoming packet ordering list
    incoming_ordering_list = []
    for idx, size in enumerate(size_seq):
        if size < 0:
            incoming_ordering_list.append(idx)

    average_incoming_ordering.append(np.mean(incoming_ordering_list))

    # 10. Standard deviation of the incoming packet ordering list
    std_dev_incoming_ordering.append(np.std(incoming_ordering_list))

    # 11. Average of the outgoing packet ordering list
    outgoing_ordering_list = []
    for idx, size in enumerate(size_seq):
        if size > 0:
            outgoing_ordering_list.append(idx)
    average_outgoing_ordering.append(np.mean(outgoing_ordering_list))

    # 12. Standard deviation of the outgoing packet ordering list
    std_dev_outgoing_ordering.append(np.std(outgoing_ordering_list))

    data = {
    'feature 9': average_incoming_ordering,
    'feature 10': std_dev_incoming_ordering,
    'feature 11': average_outgoing_ordering,
    'feature 12': std_dev_outgoing_ordering
}

df = pd.DataFrame(data)
print(df.head())

#%%
print(len(num_total_packets))
print(len(sum_packets))
print(len(num_incoming_packets))
print(len(frac_incoming_packets))
print(len(num_outgoing_packets))
print(len(frac_outgoing_packets))
print(len(packet_size_ratios))
print(len(burst_lengths))
print(len(average_incoming_ordering))
print(len(std_dev_incoming_ordering))
print(len(average_outgoing_ordering))
print(len(std_dev_outgoing_ordering))

C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\_methods.py:269: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\_methods.py:226: RuntimeWarning: invalid value encountered in divide
  arrmean = um.true_divide(arrmean, div, out=arrmean,
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\_methods.py:261: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

   feature 9  feature 10  feature 11  feature 12
0   17.50000   10.388295   43.000000    4.320494
1  153.50000   88.911473         NaN         NaN
2  105.50000   61.198448         NaN         NaN
3  266.79562  141.040872  223.896226  173.334333
4  166.00000   96.128386         NaN         NaN
45583
45583
45583
45583
45583
45583
45583
45583
45583
45583
45583
45583

In [7]:
# Feature 리스트 초기화
avg_packet_size = []  # feature 13
max_packet_size = []  # feature 14
avg_inter_arrival_time = []  # feature 15
var_packet_size = []  # feature 16
alternative_packets_per_second_sum = []  # feature 17

for time_seq, size_seq in zip(X1, X2):  # X1과 X2는 각각 시간과 크기 리스트들

    # Pandas Series가 들어올 경우 리스트 또는 Numpy 배열로 변환
    if isinstance(size_seq, pd.Series):
        size_seq = size_seq.tolist()
    if isinstance(time_seq, pd.Series):
        time_seq = time_seq.tolist()

    # 13. Average Packet Size
    avg_size = sum(abs(size) for size in size_seq) / len(size_seq) if size_seq else 0
    avg_packet_size.append(avg_size)

    # 14. Max Packet Size
    max_size = max(abs(size) for size in size_seq) if size_seq else 0
    max_packet_size.append(max_size)

    # 15. Packet Inter-Arrival Time (IAT)
    inter_arrival_time = np.mean(np.diff(time_seq)) if len(time_seq) > 1 else 0
    avg_inter_arrival_time.append(inter_arrival_time)

    # 16. Variance of Packet Size
    var_size = np.var([abs(size) for size in size_seq]) if size_seq else 0
    var_packet_size.append(var_size)

    # 17. Alternative Packets Per Second
    packets_per_subset = max(len(size_seq) // 20, 1)  # 최소 크기 설정
    subset_sums = []

    for i in range(0, len(size_seq), packets_per_subset):
        start_index = i
        end_index = min(i + packets_per_subset, len(size_seq))

        # Time interval 계산
        time_interval = time_seq[end_index - 1] - time_seq[start_index]
        time_interval = max(time_interval, 0.001)  # Zero division 방지

        packets_per_second = (end_index - start_index) / time_interval
        subset_sums.append(packets_per_second)

    alternative_packets_per_second_sum.append(sum(subset_sums))

# DataFrame 생성
data = {
    'feature 13': avg_packet_size,
    'feature 14': max_packet_size,
    'feature 15': avg_inter_arrival_time,
    'feature 16': var_packet_size,
    'feature 17': alternative_packets_per_second_sum,
}

df = pd.DataFrame(data)

# 출력 및 검증
print(df.head())
print("Lengths of Features:")
print(len(avg_packet_size))
print(len(max_packet_size))
print(len(avg_inter_arrival_time))
print(len(var_packet_size))
print(len(alternative_packets_per_second_sum))

   feature 13  feature 14  feature 15  feature 16    feature 17
0       512.0       512.0    0.102538         0.0  36540.278097
1       512.0       512.0    0.006914         0.0  31655.348907
2       512.0       512.0    0.020005         0.0  26786.998182
3       512.0       512.0    0.013309         0.0  15513.805971
4       512.0       512.0    0.016218         0.0  18302.241692
Lengths of Features:
45583
45583
45583
45583
45583

In [8]:
num_packets_per_second = []  # feature 18
mean_packets_per_second = []  # feature 19
std_packets_per_second = []  # feature 20
med_packets_per_second = []  # feature 21

for i in range(len(X1)):
    time_seq = X1[i]

    # time_seq가 pandas.Series일 경우 리스트로 변환
    if isinstance(time_seq, pd.Series):
        time_seq = time_seq.tolist()

    if time_seq:  # time_seq가 비어있지 않은 경우에만 처리
        num_packets = len(time_seq) / time_seq[-1] if time_seq[-1] > 0 else 0
        mean_packets = statistics.mean(time_seq)
        std_packets = statistics.stdev(time_seq) if len(time_seq) > 1 else 0
        med_packets = statistics.median(time_seq)
    else:  # 비어 있는 경우 기본값 설정
        num_packets = 0
        mean_packets = 0
        std_packets = 0
        med_packets = 0

    num_packets_per_second.append(num_packets)
    mean_packets_per_second.append(mean_packets)
    std_packets_per_second.append(std_packets)
    med_packets_per_second.append(med_packets)

# DataFrame 생성
data = {
    'feature 18': num_packets_per_second,
    'feature 19': mean_packets_per_second,
    'feature 20': std_packets_per_second,
    'feature 21': med_packets_per_second,
}

df = pd.DataFrame(data)

# 출력 및 검증
print(df.head())
print("Lengths of Features:")
print(len(num_packets_per_second))
print(len(mean_packets_per_second))
print(len(std_packets_per_second))
print(len(med_packets_per_second))

   feature 18  feature 19  feature 20  feature 21
0    9.947533    1.253829    1.891627    0.005500
1  145.111896    0.455774    0.532438    0.260500
2   50.225065    3.223250    1.049663    3.167000
3   75.282921    4.323082    1.037928    4.051427
4   61.844182    0.902940    1.083641    0.256000
Lengths of Features:
45583
45583
45583
45583

In [9]:
first_packet_direction = []  # feature 22
num_packets_longest_burst = []  # feature 23

for size_seq in X2:
    # size_seq가 pandas.Series일 경우 리스트로 변환
    if isinstance(size_seq, pd.Series):
        size_seq = size_seq.tolist()

    # 초기화
    bursts = 1 if size_seq else 0
    current_direction = size_seq[0] if size_seq else None
    current_burst_length = 1
    longest_burst = 1

    outgoing_counts = []
    burst_packet_counts = []

    # Feature 22: First Packet Direction
    first_direction = 1 if size_seq and size_seq[0] > 0 else -1 if size_seq and size_seq[0] < 0 else 0
    first_packet_direction.append(first_direction)

    # Burst 계산
    for i in range(1, len(size_seq)):
        if size_seq[i] * current_direction <= 0:  # 방향 변경 시
            bursts += 1
            outgoing_counts.append(sum(1 for size in size_seq[i - current_burst_length:i] if size > 0))
            burst_packet_counts.append(current_burst_length)
            longest_burst = max(longest_burst, current_burst_length)
            current_direction = size_seq[i]
            current_burst_length = 1
        else:
            current_burst_length += 1

    if size_seq:
        # 마지막 버스트 처리
        outgoing_counts.append(sum(1 for size in size_seq[-current_burst_length:] if size > 0))
        burst_packet_counts.append(current_burst_length)
        longest_burst = max(longest_burst, current_burst_length)

    # Feature 23: Number of Packets in the Longest Burst 저장
    num_packets_longest_burst.append(longest_burst)

    # DataFrame 생성
data = {
    'feature 22': first_packet_direction,
    'feature 23': num_packets_longest_burst,
    }

df = pd.DataFrame(data)

# 출력 및 검증
print(df.head())

   feature 22  feature 23
0          -1          36
1          -1         308
2          -1         212
3           1          40
4          -1         333

In [10]:
mon_data_23 = {
    'num_total_packets': num_total_packets,
    'sum_packets': sum_packets,
    'num_incoming_packets': num_incoming_packets,
    'frac_incoming_packets': frac_incoming_packets,
    'num_outgoing_packets': num_outgoing_packets,
    'frac_outgoing_packets': frac_outgoing_packets,
    'packet_size_ratios': packet_size_ratios,
    'burst_lengths': burst_lengths,
    'average_incoming_ordering': average_incoming_ordering,
    'std_dev_incoming_ordering': std_dev_incoming_ordering,
    'average_outgoing_ordering': average_outgoing_ordering,
    'std_dev_outgoing_ordering': std_dev_outgoing_ordering,
    'avg_packet_size':avg_packet_size,
    'max_packet_size':max_packet_size,
    'avg_inter_arrival_time':avg_inter_arrival_time,
    'var_packet_size':var_packet_size,
    'alternative_packets_per_second_sum':alternative_packets_per_second_sum,
    'num_packets_per_second':num_packets_per_second,
    'mean_packets_per_second':mean_packets_per_second,
    'std_packets_per_second':std_packets_per_second,
    'med_packets_per_second':med_packets_per_second,
    'first_packet_direction':first_packet_direction,
    'num_packets_longest_burst':num_packets_longest_burst
}

df_23 = pd.DataFrame(mon_data_23)
print(df_23.head())

label = {'label': y}
df_label = pd.DataFrame(label)

print(len(df_label))
print(df_label.head())

   num_total_packets  sum_packets  num_incoming_packets  \
0                 51      26112.0                    36
1                308     157696.0                   308
2                212     108544.0                   212
3                517     264704.0                   411
4                333     170496.0                   333

   frac_incoming_packets  num_outgoing_packets  frac_outgoing_packets  \
0               0.705882                    15               0.294118
1               1.000000                     0               0.000000
2               1.000000                     0               0.000000
3               0.794971                   106               0.205029
4               1.000000                     0               0.000000

   packet_size_ratios  burst_lengths  average_incoming_ordering  \
0            0.416667              2                   17.50000
1            0.000000              1                  153.50000
2            0.000000              1                  105.50000
3            0.257908             82                  266.79562
4            0.000000              1                  166.00000

   std_dev_incoming_ordering  ...  max_packet_size  avg_inter_arrival_time  \
0                  10.388295  ...            512.0                0.102538
1                  88.911473  ...            512.0                0.006914
2                  61.198448  ...            512.0                0.020005
3                 141.040872  ...            512.0                0.013309
4                  96.128386  ...            512.0                0.016218

   var_packet_size  alternative_packets_per_second_sum  \
0              0.0                        36540.278097
1              0.0                        31655.348907
2              0.0                        26786.998182
3              0.0                        15513.805971
4              0.0                        18302.241692

   num_packets_per_second  mean_packets_per_second  std_packets_per_second  \
0                9.947533                 1.253829                1.891627
1              145.111896                 0.455774                0.532438
2               50.225065                 3.223250                1.049663
3               75.282921                 4.323082                1.037928
4               61.844182                 0.902940                1.083641

   med_packets_per_second  first_packet_direction  num_packets_longest_burst
0                0.005500                      -1                         36
1                0.260500                      -1                        308
2                3.167000                      -1                        212
3                4.051427                       1                         40
4                0.256000                      -1                        333

[5 rows x 23 columns]
45583
   label
0      0
1      0
2      0
3      0
4      0

In [11]:
df_23.to_csv(r"C:\Users\user\Desktop\2024-2\기계학습\extra_mon50_23.csv", index=False)
df_label.to_csv(r"C:\Users\user\Desktop\2024-2\기계학습\extra_mon50_label.csv", index=False)

unmon

In [3]:
folder_path = r"C:\Users\user\Desktop\2024-2\기계학습\unmon_10000"

X1 = [] # Array to store instances (timestamps) - 19,000 instances, e.g., [[0.0, 0.5, 3.4, ...], [0.0, 4.5, ...], [0.0, 1.5, ...], ... [... ,45.8]]
X2 = [] # Array to store instances (direction*size) - size information
y = [] # Array to store the site of each instance - 19,000 instances, e.g., [0, 0, 0, 0, 0, 0, ..., 94, 94, 94, 94, 94]


# Iterate over the files and process only those containing valid values
for file_name in os.listdir(folder_path):
    if 'split' in file_name:  # Select only split files
        class_label = int(file_name.split('_')[0])  # Extract class number
        file_path = os.path.join(folder_path, file_name)

        if os.path.getsize(file_path) > 0:  # Check if file is non-empty
            df = pd.read_csv(file_path, sep='\t', header=None)

            X1.append(df[0])  # Append timestamps (column 0)
            X2.append(df[2])  # Append direction*size (column 2)
            y.append(class_label)  # Append class label

# Size of the resulting data
size = len(y)

print(f"총 데이터 포인트: {len(X1)}")
print(len(X1))
print(len(X2))
print(len(y))

y = [-1] * len(y)
#%%
print(X1[0:1000])

총 데이터 포인트: 44910
44910
44910
44910
[0    0.0000
1    0.0040
2    0.0055
3    0.0065
4    0.9715
Name: 0, dtype: float64, 0      0.0000
1      0.1310
2      0.1311
3      0.2485
4      0.2486
        ...
120    5.4400
121    5.4405
122    5.5425
123    5.5460
124    5.5485
Name: 0, Length: 125, dtype: float64, 0        0.0000
1        0.1030
2        0.1720
3        2.9370
4        5.7730
         ...
1485    13.5920
1486    13.5935
1487    13.8495
1488    13.8530
1489    13.8540
Name: 0, Length: 1490, dtype: float64, 0      0.0000
1      0.0070
2      0.0100
3      0.0100
4      0.0120
        ...
297    2.3855
298    2.3855
299    2.3895
300    2.3895
301    2.3895
Name: 0, Length: 302, dtype: float64, 0       0.000000
1       0.028000
2       0.031000
3       0.517028
4       0.518028
          ...
1016    2.955103
1017    2.969103
1018    2.988200
1019    3.230103
1020    7.586626
Name: 0, Length: 1021, dtype: float64, 0      1.387779e-17
1      6.900000e-02
2      2.834000e+00
3      5.676000e+00
4      6.160500e+00
           ...
684    1.354350e+01
685    1.354550e+01
686    1.354750e+01
687    1.354900e+01
688    1.355150e+01
Name: 0, Length: 689, dtype: float64, 0      0.000000
1      0.060500
2      0.129126
3      0.153603
4      0.169126
         ...
200    2.298700
201    2.308700
202    2.309200
203    2.326700
204    2.378200
Name: 0, Length: 205, dtype: float64, 0      0.000000
1      0.050000
2      0.050000
3      0.053413
4      0.053913
         ...
678    2.169413
679    2.213413
680    2.590000
681    2.643413
682    7.500000
Name: 0, Length: 683, dtype: float64, 0      0.0000
1      0.5050
2      0.5050
3      0.5050
4      0.5050
        ...
862    2.5075
863    2.5075
864    2.5080
865    2.5090
866    2.5115
Name: 0, Length: 867, dtype: float64, 0      0.0000
1      0.1095
2      0.1805
3      1.0465
4      1.2235
        ...
980    7.1465
981    7.3835
982    7.3905
983    7.5445
984    7.5495
Name: 0, Length: 985, dtype: float64, 0      0.000000
1      0.071000
2      0.937000
3      1.114500
4      1.156587
         ...
156    4.997884
157    4.998884
158    4.998884
159    4.998884
160    5.000884
Name: 0, Length: 161, dtype: float64, 0        0.000000
1        0.225000
2        0.225100
3        0.343000
4        0.343100
          ...
1081    15.797893
1082    16.010774
1083    16.010774
1084    16.337893
1085    16.400774
Name: 0, Length: 1086, dtype: float64, 0      0.000000
1      0.030000
2      0.030000
3      0.030000
4      0.030000
         ...
424    4.350797
425    4.556297
426    4.620000
427    4.620000
428    4.725297
Name: 0, Length: 429, dtype: float64, 0       0.0000
1       0.0000
2       0.0000
3       0.0015
4       0.0020
         ...
2115    3.9795
2116    3.9800
2117    3.9800
2118    4.0800
2119    4.1095
Name: 0, Length: 2120, dtype: float64, 0        0.0000
1        0.0000
2        0.0010
3        0.0030
4        0.0030
         ...
2457    10.3840
2458    10.3865
2459    10.6360
2460    10.7685
2461    13.8190
Name: 0, Length: 2462, dtype: float64, 0      0.0000
1      0.0000
2      0.7630
3      0.7655
4      0.7655
        ...
209    2.5815
210    2.5820
211    2.5855
212    2.5865
213    2.5865
Name: 0, Length: 214, dtype: float64, 0      0.0000
1      0.0045
2      0.0050
3      0.0085
4      0.0090
        ...
976    4.8055
977    4.8060
978    4.8060
979    4.8080
980    4.8080
Name: 0, Length: 981, dtype: float64, 0      -4.440892e-16
1       3.000000e-03
2       4.000000e-03
3       4.000000e-03
4       4.500000e-03
            ...
3631    5.471500e+00
3632    5.471500e+00
3633    5.471500e+00
3634    5.471500e+00
3635    5.471500e+00
Name: 0, Length: 3636, dtype: float64, 0       2.775558e-17
1       1.180000e-01
2       7.370000e-01
3       1.063500e+00
4       2.182000e+00
            ...
4166    8.970078e+00
4167    9.060578e+00
4168    9.062578e+00
4169    9.062578e+00
4170    9.068578e+00
Name: 0, Length: 4171, dtype: float64, 0      0.0000
1      0.1100
2      0.2280
3      0.8470
4      1.1700
        ...
934    8.6985
935    8.6990
936    8.7000
937    8.7015
938    8.7015
Name: 0, Length: 939, dtype: float64, 0      0.0000
1      0.1295
2      0.2750
3      0.9900
4      1.3575
        ...
371    6.9760
372    6.9775
373    6.9775
374    6.9780
375    6.9800
Name: 0, Length: 376, dtype: float64, 0     -8.881784e-16
1      1.500000e-03
2      3.000000e-03
3      4.500000e-03
4      1.150000e-02
           ...
142    8.655000e-01
143    8.655000e-01
144    8.655000e-01
145    8.655000e-01
146    8.660000e-01
Name: 0, Length: 147, dtype: float64, 0    0.0000
1    0.0040
2    0.0040
3    0.0045
4    0.0090
5    0.0125
6    0.0125
7    0.0125
Name: 0, dtype: float64, 0       0.000000
1       0.145500
2       0.860500
3       1.228000
4       3.065500
         ...
119    10.112619
120    10.115119
121    10.116119
122    10.125119
123    16.241619
Name: 0, Length: 124, dtype: float64, 0        0.0000
1        0.0895
2        0.1370
3        0.4345
4        0.5865
         ...
4446    12.4900
4447    12.4900
4448    12.4900
4449    12.4900
4450    12.4900
Name: 0, Length: 4451, dtype: float64, 0      -4.440892e-16
1       7.000000e-03
2       8.000000e-03
3       1.050000e-02
4       2.415000e-01
            ...
1242    8.987042e+00
1243    9.001042e+00
1244    9.002542e+00
1245    9.015542e+00
1246    9.041042e+00
Name: 0, Length: 1247, dtype: float64, 0      0.0000
1      0.0090
2      0.0090
3      0.0100
4      0.0100
        ...
702    4.6790
703    4.6845
704    4.6845
705    4.6845
706    4.6845
Name: 0, Length: 707, dtype: float64, 0       0.0000
1       0.0000
2       0.0060
3       0.0110
4       0.0160
        ...
665     8.9660
666    21.8425
667    21.8515
668    23.6725
669    23.6840
Name: 0, Length: 670, dtype: float64, 0      2.775558e-17
1      4.750000e-02
2      3.450000e-01
3      4.970000e-01
4      1.892000e+00
           ...
644    1.238351e+01
645    1.238351e+01
646    1.238601e+01
647    1.238601e+01
648    1.240151e+01
Name: 0, Length: 649, dtype: float64, 0        0.0000
1        0.1340
2        0.2335
3        1.2800
4        1.5130
         ...
1076    42.9030
1077    42.9030
1078    42.9050
1079    42.9050
1080    42.9050
Name: 0, Length: 1081, dtype: float64, 0        0.0000
1        0.0085
2        0.0155
3       16.4310
4       16.4330
         ...
1339    27.1050
1340    27.1050
1341    27.1055
1342    27.1085
1343    27.1150
Name: 0, Length: 1344, dtype: float64, 0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.114855
          ...
5967    13.627855
5968    13.765355
5969    13.772355
5970    15.839855
5971    15.852855
Name: 0, Length: 5972, dtype: float64, 0       0.000000
1       0.099500
2       1.146000
3       1.379000
4       3.495500
         ...
501    48.757387
502    48.757387
503    48.760342
504    48.805342
505    48.833842
Name: 0, Length: 506, dtype: float64, 0       0.000000
1       0.005000
2       0.008500
3       0.015500
4       0.018500
         ...
836    12.475048
837    12.807503
838    13.095503
839    13.297503
840    15.115048
Name: 0, Length: 841, dtype: float64, 0        0.0000
1        0.1315
2        0.1316
3        0.2215
4        0.2216
         ...
5704    12.3715
5705    12.3745
5706    12.3800
5707    12.3800
5708    12.3800
Name: 0, Length: 5709, dtype: float64, 0      0.0000
1      0.0025
2      0.0030
3      0.0065
4      0.0070
        ...
427    7.0540
428    7.0540
429    7.0670
430    7.0670
431    7.0670
Name: 0, Length: 432, dtype: float64, 0      0.0000
1      0.0000
2      0.0125
3      0.0125
4      0.0125
        ...
599    7.3400
600    7.3400
601    7.3400
602    7.3445
603    7.3465
Name: 0, Length: 604, dtype: float64, 0      8.881784e-16
1      8.881784e-16
2      8.881784e-16
3      8.881784e-16
4      8.881784e-16
           ...
244    6.492500e+00
245    6.492500e+00
246    6.492500e+00
247    6.492500e+00
248    6.492500e+00
Name: 0, Length: 249, dtype: float64, 0       0.0000
1       0.0005
2       0.0005
3       0.0005
4       0.0025
         ...
2975    7.3105
2976    7.3120
2977    7.3125
2978    7.3125
2979    7.3220
Name: 0, Length: 2980, dtype: float64, 0       0.000000
1       0.066000
2       1.279500
3       1.445500
4       3.009233
          ...
1066    8.999233
1067    9.039233
1068    9.039233
1069    9.065500
1070    9.095000
Name: 0, Length: 1071, dtype: float64, 0     -8.881784e-16
1     -8.881784e-16
2     -8.881784e-16
3      3.000000e-03
4      3.000000e-03
           ...
376    6.204100e+00
377    6.207500e+00
378    7.167500e+00
379    7.248500e+00
380    7.350000e+00
Name: 0, Length: 381, dtype: float64, 0      0.0000
1      0.0020
2      0.0020
3      0.0035
4      0.0255
        ...
761    2.0170
762    2.0170
763    2.0170
764    2.0290
765    2.0290
Name: 0, Length: 766, dtype: float64, 0        0.0000
1        0.1050
2        0.1710
3        1.3845
4        1.5375
         ...
3806    10.0345
3807    10.0350
3808    10.0350
3809    10.0360
3810    10.0500
Name: 0, Length: 3811, dtype: float64, 0      0.0000
1      0.0065
2      0.0065
3      0.0145
4      0.0160
        ...
559    1.9965
560    1.9985
561    2.0330
562    2.0330
563    2.0330
Name: 0, Length: 564, dtype: float64, 0      0.0000
1      0.0015
2      0.0080
3      0.0150
4      0.0150
        ...
568    1.0815
569    1.0825
570    1.1360
571    1.1415
572    1.1435
Name: 0, Length: 573, dtype: float64, 0     1.387779e-17
1     8.200000e-02
2     9.165000e-01
3     1.079500e+00
4     2.014395e+00
5     2.144395e+00
6     2.144395e+00
7     2.179500e+00
8     2.367000e+00
9     2.404395e+00
10    2.404395e+00
11    2.484500e+00
12    2.539500e+00
13    2.714395e+00
14    2.741500e+00
15    2.911500e+00
16    3.044395e+00
17    3.044395e+00
18    3.068500e+00
19    3.124395e+00
20    3.124395e+00
21    3.153500e+00
22    3.260000e+00
23    3.324395e+00
24    3.324395e+00
25    3.373000e+00
26    3.528500e+00
27    3.804395e+00
28    3.804395e+00
29    4.057000e+00
30    4.281000e+00
31    4.401000e+00
32    4.650000e+00
33    4.738000e+00
34    4.747500e+00
35    4.812000e+00
36    4.974139e+00
37    5.222139e+00
38    5.242139e+00
39    5.265139e+00
40    5.272139e+00
41    5.302139e+00
42    5.317639e+00
43    5.358010e+00
44    5.391139e+00
45    5.469500e+00
46    5.504139e+00
47    5.510139e+00
48    5.624139e+00
49    5.640139e+00
50    5.642139e+00
51    5.734139e+00
52    5.743500e+00
53    5.749139e+00
54    5.826510e+00
55    5.848010e+00
56    5.881000e+00
57    6.013510e+00
58    6.034139e+00
59    6.117639e+00
Name: 0, dtype: float64, 0    0.0000
1    0.0030
2    0.0030
3    0.0085
4    0.0140
5    0.0145
6    0.0210
Name: 0, dtype: float64, 0      0.0000
1      0.1100
2      0.1920
3      1.0265
4      1.1865
        ...
274    5.9835
275    5.9910
276    5.9920
277    5.9920
278    5.9960
Name: 0, Length: 279, dtype: float64, 0      0.000
1      0.000
2      0.000
3      0.000
4      0.001
       ...
119    0.656
120    0.656
121    0.657
122    0.657
123    0.663
Name: 0, Length: 124, dtype: float64, 0       0.0000
1       0.1060
2       0.1740
3       1.3540
4       1.8090
        ...
537    17.2655
538    17.2700
539    17.2740
540    17.2780
541    17.2785
Name: 0, Length: 542, dtype: float64, 0     8.881784e-16
1     5.000000e-04
2     5.500000e-03
3     1.100000e-02
4     1.600000e-02
          ...
64    8.670500e+00
65    8.672500e+00
66    8.674500e+00
67    8.678000e+00
68    8.689000e+00
Name: 0, Length: 69, dtype: float64, 0       0.000000
1       0.068000
2       1.248000
3       1.703000
4       2.895078
         ...
235    16.405078
236    16.407000
237    16.529500
238    16.654000
239    17.097000
Name: 0, Length: 240, dtype: float64, 0       0.0000
1       0.0085
2       0.0185
3       0.0355
4       0.0380
        ...
754    10.3865
755    10.3935
756    10.3935
757    10.4125
758    10.4125
Name: 0, Length: 759, dtype: float64, 0        0.0000
1        0.0095
2        0.0285
3        0.0285
4        0.0285
         ...
1234    11.6660
1235    11.7090
1236    11.7090
1237    11.7335
1238    11.7335
Name: 0, Length: 1239, dtype: float64, 0     0.0000
1     0.0000
2     0.0000
3     0.0055
4     0.0055
5     0.0055
6     0.0060
7     0.0060
8     0.0060
9     0.0060
10    0.0065
11    0.0065
12    0.0080
13    0.0080
14    0.0080
15    0.0080
16    0.0085
17    0.0085
18    0.0085
19    0.0085
20    0.0085
21    0.0085
22    0.0085
23    0.0095
24    0.0095
25    0.0095
26    0.0105
27    0.0115
28    0.0115
29    0.0115
30    0.0115
31    0.0120
32    0.0120
33    0.0120
34    0.0125
35    0.0125
36    0.0145
37    0.0145
38    0.0165
39    0.0210
Name: 0, dtype: float64, 0        0.000000
1        0.122500
2        0.198500
3        0.922500
4        1.317000
          ...
2609    24.318680
2610    24.327557
2611    24.327557
2612    24.327557
2613    24.677557
Name: 0, Length: 2614, dtype: float64, 0      1.387779e-17
1      7.600000e-02
2      8.000000e-01
3      1.194500e+00
4      2.496000e+00
           ...
422    1.868496e+01
423    1.868496e+01
424    1.870750e+01
425    1.876900e+01
426    1.894700e+01
Name: 0, Length: 427, dtype: float64, 0       0.0000
1       0.0030
2       0.0040
3       0.0050
4       0.0050
        ...
494    19.9825
495    20.1385
496    20.1415
497    20.3865
498    20.3965
Name: 0, Length: 499, dtype: float64, 0      0.0000
1      0.0000
2      0.0125
3      0.0275
4      0.0285
        ...
216    1.3785
217    1.3835
218    1.3870
219    1.3880
220    1.3880
Name: 0, Length: 221, dtype: float64, 0      4.440892e-16
1      6.000000e-02
2      6.000000e-02
3      6.000000e-02
4      6.000000e-02
           ...
285    4.830842e+01
286    4.830842e+01
287    4.830842e+01
288    4.830842e+01
289    4.830842e+01
Name: 0, Length: 290, dtype: float64, 0      2.775558e-17
1      9.550000e-02
2      9.590000e-01
3      1.336000e+00
4      2.338958e+00
           ...
436    7.025976e+00
437    7.028976e+00
438    7.039976e+00
439    7.039976e+00
440    7.039976e+00
Name: 0, Length: 441, dtype: float64, 0      0.0000
1      0.1090
2      0.2045
3      1.0680
4      1.3385
        ...
239    7.2280
240    7.2280
241    7.2280
242    7.2280
243    7.2280
Name: 0, Length: 244, dtype: float64, 0      0.000000
1      0.000500
2      0.001000
3      0.001000
4      0.001000
         ...
574    3.804000
575    3.808356
576    3.819000
577    3.821500
578    3.860356
Name: 0, Length: 579, dtype: float64, 0       0.0000
1       0.1135
2       0.2435
3       0.5105
4       0.7745
         ...
1302    7.7065
1303    7.7065
1304    7.7105
1305    7.7120
1306    7.7135
Name: 0, Length: 1307, dtype: float64, 0       0.0000
1       0.0020
2       0.0025
3       0.0025
4       0.0025
         ...
3607    4.3745
3608    4.3750
3609    4.4600
3610    4.4640
3611    4.4645
Name: 0, Length: 3612, dtype: float64, 0     1.387779e-17
1     1.300000e-01
2     3.970000e-01
3     6.655000e-01
4     1.388140e+00
          ...
65    7.331321e+00
66    7.331321e+00
67    7.333821e+00
68    7.335821e+00
69    7.336321e+00
Name: 0, Length: 70, dtype: float64, 0     0.00000
1     0.08400
2     0.73900
3     0.98600
4     1.97384
5     2.08600
6     2.13384
7     2.13384
8     2.22800
9     2.33150
10    2.35384
11    2.45400
12    2.48384
13    2.51384
14    2.51384
15    2.51384
16    2.68100
17    2.68384
18    2.68384
19    2.70100
20    2.74900
21    2.76384
22    2.76384
23    2.76384
24    2.79050
25    2.99384
26    3.01950
27    3.07400
28    3.09384
29    3.12600
Name: 0, dtype: float64, 0     0.0000
1     0.1410
2     0.2250
3     0.8800
4     1.1240
       ...
76    3.6065
77    3.6065
78    3.6340
79    3.6340
80    3.6350
Name: 0, Length: 81, dtype: float64, 0     1.387779e-17
1     6.050000e-02
2     7.455000e-01
3     1.039000e+00
4     1.940186e+00
5     2.110186e+00
6     2.110186e+00
7     2.120186e+00
8     2.145000e+00
9     2.276000e+00
10    2.410500e+00
11    2.470186e+00
12    2.470186e+00
13    2.490186e+00
14    2.490186e+00
15    2.555000e+00
16    2.649000e+00
17    2.735000e+00
18    2.750186e+00
19    2.828000e+00
20    3.010186e+00
21    3.086000e+00
22    3.240186e+00
23    3.240186e+00
24    3.295000e+00
25    3.325000e+00
Name: 0, dtype: float64, 0     0.0000
1     0.1090
2     0.1695
3     0.8545
4     1.1470
       ...
70    3.3760
71    3.3790
72    3.4040
73    3.4340
74    3.4340
Name: 0, Length: 75, dtype: float64, 0     0.0000
1     0.0160
2     0.0240
3     0.0300
4     0.0345
5     0.0390
6     0.0450
7     0.0460
8     0.0540
9     0.1070
10    0.1075
11    0.1090
12    0.1110
13    0.1120
14    0.1190
15    0.1190
16    0.1350
17    0.1440
18    0.1480
19    0.2250
20    0.2375
21    0.2380
22    0.2380
23    0.2440
24    0.2470
25    0.2490
26    0.3495
27    0.3570
28    0.3590
29    0.3600
30    0.5050
31    0.5095
32    0.5290
33    0.6795
34    0.6880
Name: 0, dtype: float64, 0     0.0000
1     0.1400
2     0.2540
3     1.2670
4     1.8545
       ...
65    4.4540
66    4.4555
67    4.4575
68    4.4590
69    4.4595
Name: 0, Length: 70, dtype: float64, 0     0.000000
1     0.114000
2     1.127000
3     1.719500
4     2.492708
5     2.650000
6     2.712708
7     2.712708
8     2.742708
9     2.838500
10    2.934000
11    2.952708
12    3.325000
13    3.402708
14    3.402708
15    3.402708
16    3.407000
17    3.412708
18    3.452708
19    3.452708
20    3.452708
21    3.609000
22    3.779500
23    3.881000
24    3.882708
25    3.982000
26    4.092500
27    4.364693
28    4.437693
Name: 0, dtype: float64, 0      0.000000
1      0.000000
2      0.000500
3      0.000500
4      0.000500
         ...
408    2.986951
409    3.640648
410    3.681379
411    6.731879
412    7.939879
Name: 0, Length: 413, dtype: float64, 0       0.0000
1       0.0035
2       0.0040
3       0.0055
4       0.0070
        ...
579     6.8405
580     6.9270
581     6.9290
582     8.1370
583    15.8410
Name: 0, Length: 584, dtype: float64, 0       0.0000
1       0.1170
2       0.1171
3       0.1810
4       0.1811
         ...
2606    8.9960
2607    8.9960
2608    8.9985
2609    8.9990
2610    8.9995
Name: 0, Length: 2611, dtype: float64, 0       8.881784e-16
1       5.500000e-03
2       5.500000e-03
3       9.500000e-03
4       1.000000e-02
            ...
2865    4.739000e+00
2866    4.739000e+00
2867    4.739000e+00
2868    4.739000e+00
2869    4.755500e+00
Name: 0, Length: 2870, dtype: float64, 0       0.0000
1       0.0000
2       0.0010
3       0.0030
4       0.0030
         ...
2576    4.4290
2577    4.4290
2578    4.4325
2579    4.5440
2580    4.5495
Name: 0, Length: 2581, dtype: float64, 0       0.0000
1       0.1280
2       0.2130
3       1.1425
4       1.3465
        ...
893    12.8610
894    13.0425
895    13.0430
896    13.1900
897    13.3870
Name: 0, Length: 898, dtype: float64, 0       8.881784e-16
1       3.500000e-03
2       6.500000e-03
3       7.500000e-03
4       3.000000e-02
            ...
1733    6.787500e+00
1734    6.787500e+00
1735    6.788000e+00
1736    6.791500e+00
1737    6.795500e+00
Name: 0, Length: 1738, dtype: float64, 0      0.000000
1      0.085000
2      1.014500
3      1.220000
4      2.143078
         ...
97     5.528446
98     5.544946
99     5.562946
100    5.577446
101    5.578446
Name: 0, Length: 102, dtype: float64, 0     0.000000
1     0.000000
2     0.010000
3     0.020000
4     0.020000
        ...
66    5.872422
67    6.110000
68    6.181422
69    6.328922
70    6.525922
Name: 0, Length: 71, dtype: float64, 0     0.0000
1     0.0000
2     0.0040
3     0.0040
4     0.0040
5     0.0080
6     2.0400
7     2.0400
8     2.0400
9     2.0420
10    2.0425
11    2.0425
12    2.0440
13    2.0450
14    2.0450
15    2.0470
16    2.0470
17    2.0470
18    2.0490
19    2.0490
20    2.0500
21    2.0500
22    2.0500
23    2.0510
24    2.0510
25    2.0515
26    2.0520
27    2.0520
28    2.0560
29    2.0590
30    2.0590
31    2.0590
32    2.0600
33    2.0600

In [4]:
print(y[100:200])

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

In [15]:
num_total_packets = [] # feature 1
sum_packets = [] # feature 2
num_incoming_packets = [] # feature 3
frac_incoming_packets = [] # feature 4
num_outgoing_packets=[] # feature 5
frac_outgoing_packets=[] # feature 6

for size_seq in X2:
    # 1. Total number of pacekts
    total = len(size_seq)
    num_total_packets.append(total)

    # 2. Sum of packets (absolute value gives the size regardless of direction)
    sum_pckts = sum(abs(size) for size in size_seq)
    sum_packets.append(sum_pckts)

    # 3. Number of incoming packets
    incoming = sum(1 for size in size_seq if size < 0)
    num_incoming_packets.append(incoming)

    # 4. Number of incoming packets as a fraction of the total number of packets
    frac_incoming = incoming / total if total > 0 else 0
    frac_incoming_packets.append(frac_incoming)

    # 5. Number of outgoing packets
    outgoing = sum(1 for size in size_seq if size > 0)
    num_outgoing_packets.append(outgoing)

    # 6. Number of outgoing packets as a fraction of the total number of packets
    frac_outgoing = outgoing / total if total > 0 else 0
    frac_outgoing_packets.append(frac_outgoing)

data = {
    'feature 1': num_total_packets,
    'feature 2': sum_packets,
    'feature 3': num_incoming_packets,
    'feature 4': frac_incoming_packets,
    'feature 5': num_outgoing_packets,
    'feature 6': frac_outgoing_packets
}

df = pd.DataFrame(data)
print(df.head())

print(len(num_total_packets))
print(len(sum_packets))
print(len(num_incoming_packets))
print(len(frac_incoming_packets))
print(len(num_outgoing_packets))
print(len(frac_outgoing_packets))

   feature 1  feature 2  feature 3  feature 4  feature 5  feature 6
0          5     2560.0          5   1.000000          0   0.000000
1        125    64000.0         96   0.768000         29   0.232000
2       1490   762880.0       1490   1.000000          0   0.000000
3        302   154624.0        302   1.000000          0   0.000000
4       1021   522752.0        974   0.953967         47   0.046033
44910
44910
44910
44910
44910
44910

In [16]:
packet_size_ratios = [] # feature 7
burst_lengths = []  # feature 8

for size_seq in X2:

    # 7. Packet Size Ratios
    outgoing_size_sum = sum(size for size in size_seq if size > 0)
    incoming_size_sum = abs(sum(size for size in size_seq if size < 0))  # 절대값 사용
    packet_size_ratio = outgoing_size_sum / incoming_size_sum if incoming_size_sum > 0 else 0
    packet_size_ratios.append(packet_size_ratio)

    # 8. Burst Lengths
    bursts = []
    current_burst = 0
    size_seq = size_seq.values if isinstance(size_seq, pd.Series) else size_seq  # Pandas Series 처리
    last_direction = np.sign(size_seq[0]) if len(size_seq) > 0 else 0  # 초기 방향 설정

    for size in size_seq:
        direction = np.sign(size)
        if direction == last_direction:
            current_burst += size
        else:
            bursts.append(current_burst)
            current_burst = size          # 새 버스트 시작
            last_direction = direction

    if current_burst != 0:
        bursts.append(current_burst)  # 마지막 버스트 추가

    burst_lengths.append(len(bursts))      # 버스트 길이 저장

#%%
# 리스트 길이 확인
print(f"Length of packet_size_ratios: {len(packet_size_ratios)}")
print(f"Length of burst_lengths: {len(burst_lengths)}")

# 데이터프레임 생성
if len(packet_size_ratios) == len(burst_lengths):
    data = {
        'feature 7': packet_size_ratios,
        'feature 8': burst_lengths,
    }
    df = pd.DataFrame(data)
    print(df.head())
else:
    print("Error: Mismatched lengths between features.")

Length of packet_size_ratios: 44910
Length of burst_lengths: 44910
   feature 7  feature 8
0   0.000000          1
1   0.302083         41
2   0.000000          1
3   0.000000          1
4   0.048255          7

In [17]:
average_incoming_ordering=[] # feature 9
std_dev_incoming_ordering=[] # feature 10
average_outgoing_ordering=[] # feature 11
std_dev_outgoing_ordering=[] # feature 12

for size_seq in X2:
    # 9. Average of the incoming packet ordering list
    incoming_ordering_list = []
    for idx, size in enumerate(size_seq):
        if size < 0:
            incoming_ordering_list.append(idx)

    average_incoming_ordering.append(np.mean(incoming_ordering_list))

    # 10. Standard deviation of the incoming packet ordering list
    std_dev_incoming_ordering.append(np.std(incoming_ordering_list))

    # 11. Average of the outgoing packet ordering list
    outgoing_ordering_list = []
    for idx, size in enumerate(size_seq):
        if size > 0:
            outgoing_ordering_list.append(idx)
    average_outgoing_ordering.append(np.mean(outgoing_ordering_list))

    # 12. Standard deviation of the outgoing packet ordering list
    std_dev_outgoing_ordering.append(np.std(outgoing_ordering_list))

    data = {
    'feature 9': average_incoming_ordering,
    'feature 10': std_dev_incoming_ordering,
    'feature 11': average_outgoing_ordering,
    'feature 12': std_dev_outgoing_ordering
}

df = pd.DataFrame(data)
print(df.head())

#%%
print(len(num_total_packets))
print(len(sum_packets))
print(len(num_incoming_packets))
print(len(frac_incoming_packets))
print(len(num_outgoing_packets))
print(len(frac_outgoing_packets))
print(len(packet_size_ratios))
print(len(burst_lengths))
print(len(average_incoming_ordering))
print(len(std_dev_incoming_ordering))
print(len(average_outgoing_ordering))
print(len(std_dev_outgoing_ordering))

C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\_methods.py:269: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\_methods.py:226: RuntimeWarning: invalid value encountered in divide
  arrmean = um.true_divide(arrmean, div, out=arrmean,
C:\Users\user\AppData\Roaming\Python\Python38\site-packages\numpy\core\_methods.py:261: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

    feature 9  feature 10  feature 11  feature 12
0    2.000000    1.414214         NaN         NaN
1   69.854167   35.015467   36.000000   25.944237
2  744.500000  430.125854         NaN         NaN
3  150.500000   87.179413         NaN         NaN
4  489.858316  281.808104  927.404255  242.307055
44910
44910
44910
44910
44910
44910
44910
44910
44910
44910
44910
44910

In [18]:
# Feature 리스트 초기화
avg_packet_size = []  # feature 13
max_packet_size = []  # feature 14
avg_inter_arrival_time = []  # feature 15
var_packet_size = []  # feature 16
alternative_packets_per_second_sum = []  # feature 17

for time_seq, size_seq in zip(X1, X2):  # X1과 X2는 각각 시간과 크기 리스트들

    # Pandas Series가 들어올 경우 리스트 또는 Numpy 배열로 변환
    if isinstance(size_seq, pd.Series):
        size_seq = size_seq.tolist()
    if isinstance(time_seq, pd.Series):
        time_seq = time_seq.tolist()

    # 13. Average Packet Size
    avg_size = sum(abs(size) for size in size_seq) / len(size_seq) if size_seq else 0
    avg_packet_size.append(avg_size)

    # 14. Max Packet Size
    max_size = max(abs(size) for size in size_seq) if size_seq else 0
    max_packet_size.append(max_size)

    # 15. Packet Inter-Arrival Time (IAT)
    inter_arrival_time = np.mean(np.diff(time_seq)) if len(time_seq) > 1 else 0
    avg_inter_arrival_time.append(inter_arrival_time)

    # 16. Variance of Packet Size
    var_size = np.var([abs(size) for size in size_seq]) if size_seq else 0
    var_packet_size.append(var_size)

    # 17. Alternative Packets Per Second
    packets_per_subset = max(len(size_seq) // 20, 1)  # 최소 크기 설정
    subset_sums = []

    for i in range(0, len(size_seq), packets_per_subset):
        start_index = i
        end_index = min(i + packets_per_subset, len(size_seq))

        # Time interval 계산
        time_interval = time_seq[end_index - 1] - time_seq[start_index]
        time_interval = max(time_interval, 0.001)  # Zero division 방지

        packets_per_second = (end_index - start_index) / time_interval
        subset_sums.append(packets_per_second)

    alternative_packets_per_second_sum.append(sum(subset_sums))

# DataFrame 생성
data = {
    'feature 13': avg_packet_size,
    'feature 14': max_packet_size,
    'feature 15': avg_inter_arrival_time,
    'feature 16': var_packet_size,
    'feature 17': alternative_packets_per_second_sum,
}

df = pd.DataFrame(data)

# 출력 및 검증
print(df.head())
print("Lengths of Features:")
print(len(avg_packet_size))
print(len(max_packet_size))
print(len(avg_inter_arrival_time))
print(len(var_packet_size))
print(len(alternative_packets_per_second_sum))

   feature 13  feature 14  feature 15  feature 16    feature 17
0       512.0       512.0    0.242875         0.0   5000.000000
1       512.0       512.0    0.044746         0.0   7946.929639
2       512.0       512.0    0.009304         0.0  15804.471792
3       512.0       512.0    0.007939         0.0  28323.605894
4       512.0       512.0    0.007438         0.0  21153.226318
Lengths of Features:
44910
44910
44910
44910
44910

In [19]:
num_packets_per_second = []  # feature 18
mean_packets_per_second = []  # feature 19
std_packets_per_second = []  # feature 20
med_packets_per_second = []  # feature 21

for i in range(len(X1)):
    time_seq = X1[i]

    # time_seq가 pandas.Series일 경우 리스트로 변환
    if isinstance(time_seq, pd.Series):
        time_seq = time_seq.tolist()

    if time_seq:  # time_seq가 비어있지 않은 경우에만 처리
        num_packets = len(time_seq) / time_seq[-1] if time_seq[-1] > 0 else 0
        mean_packets = statistics.mean(time_seq)
        std_packets = statistics.stdev(time_seq) if len(time_seq) > 1 else 0
        med_packets = statistics.median(time_seq)
    else:  # 비어 있는 경우 기본값 설정
        num_packets = 0
        mean_packets = 0
        std_packets = 0
        med_packets = 0

    num_packets_per_second.append(num_packets)
    mean_packets_per_second.append(mean_packets)
    std_packets_per_second.append(std_packets)
    med_packets_per_second.append(med_packets)

# DataFrame 생성
data = {
    'feature 18': num_packets_per_second,
    'feature 19': mean_packets_per_second,
    'feature 20': std_packets_per_second,
    'feature 21': med_packets_per_second,
}

df = pd.DataFrame(data)

# 출력 및 검증
print(df.head())
print("Lengths of Features:")
print(len(num_packets_per_second))
print(len(mean_packets_per_second))
print(len(std_packets_per_second))
print(len(med_packets_per_second))

   feature 18  feature 19  feature 20  feature 21
0    5.146680    0.197500    0.432686    0.005500
1   22.528611    3.663683    1.327970    3.943500
2  107.550166   12.056758    1.328478   12.654000
3  126.386273    0.906094    1.041532    0.212250
4  134.578935    1.277876    0.637777    1.092028
Lengths of Features:
44910
44910
44910
44910

In [20]:
first_packet_direction = []  # feature 22
num_packets_longest_burst = []  # feature 23

for size_seq in X2:
    # size_seq가 pandas.Series일 경우 리스트로 변환
    if isinstance(size_seq, pd.Series):
        size_seq = size_seq.tolist()

    # 초기화
    bursts = 1 if size_seq else 0
    current_direction = size_seq[0] if size_seq else None
    current_burst_length = 1
    longest_burst = 1

    outgoing_counts = []
    burst_packet_counts = []

    # Feature 22: First Packet Direction
    first_direction = 1 if size_seq and size_seq[0] > 0 else -1 if size_seq and size_seq[0] < 0 else 0
    first_packet_direction.append(first_direction)

    # Burst 계산
    for i in range(1, len(size_seq)):
        if size_seq[i] * current_direction <= 0:  # 방향 변경 시
            bursts += 1
            outgoing_counts.append(sum(1 for size in size_seq[i - current_burst_length:i] if size > 0))
            burst_packet_counts.append(current_burst_length)
            longest_burst = max(longest_burst, current_burst_length)
            current_direction = size_seq[i]
            current_burst_length = 1
        else:
            current_burst_length += 1

    if size_seq:
        # 마지막 버스트 처리
        outgoing_counts.append(sum(1 for size in size_seq[-current_burst_length:] if size > 0))
        burst_packet_counts.append(current_burst_length)
        longest_burst = max(longest_burst, current_burst_length)

    # Feature 23: Number of Packets in the Longest Burst 저장
    num_packets_longest_burst.append(longest_burst)

# DataFrame 생성
data = {
    'feature 22': first_packet_direction,
    'feature 23': num_packets_longest_burst,
}

df = pd.DataFrame(data)

# 출력 및 검증
print(df.head())

   feature 22  feature 23
0          -1           5
1          -1          27
2          -1        1490
3          -1         302
4           1         965

In [21]:
unmon_data_23 = {
    'num_total_packets': num_total_packets,
    'sum_packets': sum_packets,
    'num_incoming_packets': num_incoming_packets,
    'frac_incoming_packets': frac_incoming_packets,
    'num_outgoing_packets': num_outgoing_packets,
    'frac_outgoing_packets': frac_outgoing_packets,
    'packet_size_ratios': packet_size_ratios,
    'burst_lengths': burst_lengths,
    'average_incoming_ordering': average_incoming_ordering,
    'std_dev_incoming_ordering': std_dev_incoming_ordering,
    'average_outgoing_ordering': average_outgoing_ordering,
    'std_dev_outgoing_ordering': std_dev_outgoing_ordering,
    'avg_packet_size':avg_packet_size,
    'max_packet_size':max_packet_size,
    'avg_inter_arrival_time':avg_inter_arrival_time,
    'var_packet_size':var_packet_size,
    'alternative_packets_per_second_sum':alternative_packets_per_second_sum,
    'num_packets_per_second':num_packets_per_second,
    'mean_packets_per_second':mean_packets_per_second,
    'std_packets_per_second':std_packets_per_second,
    'med_packets_per_second':med_packets_per_second,
    'first_packet_direction':first_packet_direction,
    'num_packets_longest_burst':num_packets_longest_burst
}

df_23 = pd.DataFrame(unmon_data_23)
print(df_23.head())

label = {'label': y}
df_label = pd.DataFrame(label)

print(len(df_label))
print(df_label.head())

   num_total_packets  sum_packets  num_incoming_packets  \
0                  5       2560.0                     5
1                125      64000.0                    96
2               1490     762880.0                  1490
3                302     154624.0                   302
4               1021     522752.0                   974

   frac_incoming_packets  num_outgoing_packets  frac_outgoing_packets  \
0               1.000000                     0               0.000000
1               0.768000                    29               0.232000
2               1.000000                     0               0.000000
3               1.000000                     0               0.000000
4               0.953967                    47               0.046033

   packet_size_ratios  burst_lengths  average_incoming_ordering  \
0            0.000000              1                   2.000000
1            0.302083             41                  69.854167
2            0.000000              1                 744.500000
3            0.000000              1                 150.500000
4            0.048255              7                 489.858316

   std_dev_incoming_ordering  ...  max_packet_size  avg_inter_arrival_time  \
0                   1.414214  ...            512.0                0.242875
1                  35.015467  ...            512.0                0.044746
2                 430.125854  ...            512.0                0.009304
3                  87.179413  ...            512.0                0.007939
4                 281.808104  ...            512.0                0.007438

   var_packet_size  alternative_packets_per_second_sum  \
0              0.0                         5000.000000
1              0.0                         7946.929639
2              0.0                        15804.471792
3              0.0                        28323.605894
4              0.0                        21153.226318

   num_packets_per_second  mean_packets_per_second  std_packets_per_second  \
0                5.146680                 0.197500                0.432686
1               22.528611                 3.663683                1.327970
2              107.550166                12.056758                1.328478
3              126.386273                 0.906094                1.041532
4              134.578935                 1.277876                0.637777

   med_packets_per_second  first_packet_direction  num_packets_longest_burst
0                0.005500                      -1                          5
1                3.943500                      -1                         27
2               12.654000                      -1                       1490
3                0.212250                      -1                        302
4                1.092028                       1                        965

[5 rows x 23 columns]
44910
   label
0      0
1      0
2   1000
3   1000
4   1000

In [ ]:
df_23.to_csv(r"C:\Users\user\Desktop\2024-2\기계학습\extra_unmon10000_23.csv", index=False)
df_label.to_csv(r"C:\Users\user\Desktop\2024-2\기계학습\extra_unmon10000_label.csv", index=False)

In [5]:
label = {'label': y}
df_label = pd.DataFrame(label)

print(len(df_label))
print(df_label.head())

44910
   label
0     -1
1     -1
2     -1
3     -1
4     -1

In [ ]:
df_label.to_csv(r"C:\Users\user\Desktop\2024-2\기계학습\extra_unmon10000_label.csv", index=False)